.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7vw;
  padding: 7vw;

}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 5vw;
}

h1 {
  font-size: 15vw;
  margin: 0;
  text-align: center;
}
