

.symbol-container {
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.6vw;

}

.symbol-out {
  transform: rotate(45deg);
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vw;

}

.symbol-in {
  width: 80%;
  height: 80%;
  border-radius: 0.4vw;

}

.color-0 {
  background-color: rgb(34, 149, 8);
  /*background-color: rgb(34, 149, 8);*/
}

.color-1 {
  background-color: rgb(28, 26, 28);
  /*background-color: rgb(28, 26, 28);*/
}

.color-2 {
  background-color: rgb(164, 10, 9);
  /*background-color: rgb(144, 9, 8);*/
}

.color-3 {
  background-color: rgb(17, 98, 176);
  /*background-color: rgb(14, 82, 148);*/
}
