<div class="header">
  <h1>Remember</h1>
</div>

<div class="game-infos-container">
  <h2 *ngIf="gameState == GameState.Starting" class="startingCountdown">{{countdown}}</h2>

  <div *ngIf="gameState == GameState.Guessing || gameState == GameState.Ended" class="rules left-rules">

    <div class="rule">
      <app-symbol [color]="rules[0]"></app-symbol>
      <h2>{{textRules[0]}}</h2>
    </div>

    <div class="rule">
      <app-symbol [color]="rules[1]"></app-symbol>
      <h2>{{textRules[1]}}</h2>
    </div>

  </div>
  <h2 *ngIf="gameState == GameState.Remembering" class="rememberingCountdown">{{countdown}}</h2>
  <h2 *ngIf="gameState == GameState.Guessing || gameState == GameState.Ended" class="score">{{score}}</h2>

  <div *ngIf="gameState == GameState.Guessing || gameState == GameState.Ended" class="rules left-rules">

    <div class="rule">
      <app-symbol [color]="rules[2]"></app-symbol>
      <h2>{{textRules[2]}}</h2>
    </div>

    <div class="rule">
      <app-symbol [color]="rules[3]"></app-symbol>
      <h2>{{textRules[3]}}</h2>
    </div>

  </div>
</div>

<div class="cards-container"  (click)="onContainerClick()">
  <div *ngFor="let card of cardsValues">
    <app-card #cardRef [color]="card" (click)="onClick(card, cardRef)"></app-card>

  </div>
</div>
