.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 3vw;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2vw;
  justify-items: center;
  align-items: center;
  padding-inline: 7vw;
}
